<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<% include templates/header.ejs %>
<body>

<div class="media">
<p class="about"align="center">About Us</p>

<p class="about" align="center">
    Founded in 1918
    Mission
    I - Imparting
    Q - Qualitative Education in
    R - Resourceful Mini Classrooms
    A - Ascend Powerfully
    H - High in Linguistics, Mathematics and Cyber-Techno Skills</p>
</div>

</body>
</html>
