<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<% include templates/header.ejs %>

<body>

<div align="center" class="about-text">
    <p class ="media-heading">Our school</p><br>
    <p>Fathima Muslim Ladies’ College, a leading academic institution today was inaugurated in 1918 by honorable Justice M.T. Akbar with the unstinted support of Sir Razik Fareed, A.H. Macan Markar, Dr. Bathiudeen Mahmood, M.I.M. Haniffa, and W.M. Abdul Rahman through the education Muslim Society under the banner of Fathima Muslim Girls’ English School. The school begun with just 40 students and faculty of 5 teachers at Old Moors’ Street for the purpose of educating the Muslim women. It was found that more accommodation was required for the incoming students and in 1920 it was shifted to Silver Smith Lane, now named Bandaranayake Mawatha. Today almost 100 years later, Fathima Muslim Ladies’ College has a student population of 2700 and 112 teachers. The progress has resulted in with Fathima Muslim Ladies College reaching a preferred school status.

        The school has had a progressively successful history with excellent professionals being presented to the world in internationally accepted fields including art, commerce and science</p>
</div><br>

<div align="center" class="about-text">
    <p class="">Old Girls Association</p><br>
    <p>Old Girls’ Association (OGA) of Fathima Muslim Ladies’ College was established in year 2000 by the head prefect of that time Mrs. Menza Hussain. It was initially started with only 25 members and later and gradually expanded but as of now over 250 Lifetime memberships have been issued.</p>
</div><br><br><br>

<div align="center" class="about-text">
    <p class="">Current Executive Committee and committee members</p><br>
    <p>Period: September 2017 to September 2018</p><br><br>
    <table align="center" class="fa-table"><tr><th></th><th align="center">Member Name</th><th align="center">Designation</th><th></th></tr><tr><td>1</td><td>Mrs. Shihana Aslam</td><td>President / Principal</td><td>Executive Committee member</td></tr><tr><td>2</td><td>Mrs. Ramziya Misba</td><td>Vice President / Deputy Principal</td><td>Executive Committee member</td></tr><tr><td>3</td><td>Mrs. Rawziya Shanaz</td><td>Vice President - Association</td><td>Executive Committee member</td></tr><tr><td>4</td><td>Dr (Mrs) Silmiya Shareef</td><td>Secretary</td><td>Executive Committee member</td></tr><tr><td>5</td><td>Mrs. Minza Manzir</td><td>Assistant Secretary</td><td>Executive Committee member</td></tr><tr><td>6</td><td>Mrs. Razana Imran</td><td>Assistant Secretary - Association</td><td>Executive Committee member</td></tr><tr><td>7</td><td>Mrs. Rinooza Niamathulla</td><td>Treasurer</td><td>Executive Committee member</td></tr><tr><td>8</td><td>Mrs. Bathul Faleel</td><td>Assistant Treasurer</td><td>Executive Committee member</td></tr><tr><td>9</td><td>Mrs. Rinooza Abubaker</td><td>Committee member</td><td></td></tr><tr><td>10</td><td>Mrs. Hajara</td><td>Committee member</td><td></td></tr><tr><td>11</td><td>Mrs. Asma</td><td>Committee member</td><td></td></tr><tr><td>12</td><td>Mrs. Munawara</td><td>Committee member</td><td></td></tr><tr><td>13</td><td>Mrs. Shameema Sameem</td><td>Committee member</td><td></td></tr><tr><td>14</td><td>Mrs. Samsun Nisa</td><td>Committee member</td><td></td></tr></table>

</div>
</body>
</html>
