<!DOCTYPE html>
<html>
<head>
    <title><Events</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>

<% include templates/header.ejs %>
<body>

<div class="container">
<% for(var i = 0; i < posts.length; i++) { %>
<article>
    <p1><%= posts[i].Name %></p1>
        <p2>Description : <%= posts[i].Description%></p2>
        <p>Date : <%= posts[i].Date%></p>
    <% var imagePath = '/images/Uploads/'+posts[i].Image%>
    <img src=<%=imagePath%> height="500" width="500">
</article>
<% } %>




</div> <!-- .container -->

</body>
</html>
